/*
===============
FONTS
===============
*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*
===============
VARIABLES
===============
*/

:root {
  --clr-primary: rgba(250, 250, 250, 1);
  --clr-primary-light: rgba(255, 255, 255, 1);
  --clr-primary-dark: rgba(199, 199, 199, 1);
  --clr-secondary: rgb(34, 34, 34);
  --clr-secondary-light: rgba(72, 72, 72, 1);
  --clr-secondary-dark: rgba(0, 0, 0, 1);
  --clr-error: rgba(183, 28, 28, 1);
  --clr-error-light: rgba(240, 85, 69, 1);
  --clr-error-dark: rgba(127, 0, 0, 1);
  --clr-success: rgba(27, 94, 32, 1);
  --clr-success-light: rgba(76, 140, 74, 1);
  --clr-success-dark: rgba(0, 51, 0, 1);
  font-size: 16px;
}

/*
===============
GLOBAL STYLES
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
}

li {
  list-style: none;
}

/* LINKS */

a {
  text-decoration: none;
  color: var(--clr-secondary-light);
}

/* TYPOGRAPHY SCALE */

h1 {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 100;
  font-size: 96px;
}

h2 {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 100;
  font-size: 72px;
}

h3 {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 100;
  font-size: 60px;
}

h4 {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 100;
  font-size: 48px;
}

h5 {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 100;
  font-size: 32px;
}

h6 {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
}

.body-1 {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}

.subtitle-text {
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.button-text {
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

.body-2 {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
}

.caption-text {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
}

.overline-text {
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
}

.body-3 {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
}

.label-text {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
}

/* BUTTON STYLES */

.btn-default {
  width: 200px;
  height: 40px;
  background: var(--clr-secondary);
  color: var(--clr-primary);
  border-style: none;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.btn-default:hover {
  width: 200px;
  height: 40px;
  background: var(--clr-secondary-light);
  color: var(--clr-primary);
  border-style: none;
  border-radius: 4px;
}

.btn-default:active {
  width: 200px;
  height: 40px;
  background: var(--clr-secondary-dark);
  color: var(--clr-primary);
  border-style: none;
  border-radius: 4px;
}

.btn-default:focus-visible {
  width: 200px;
  height: 40px;
  background: var(--clr-secondary-light);
  color: var(--clr-primary);
  border-style: dotted;
  border-color: var(--clr-primary);
  border-radius: 4px;
}

/* FORM STYLES */

.input-style {
  width: 260px;
  height: 40px;
  background: var(--clr-primary-light);
  border: 1px solid #212121;
  box-sizing: border-box;
  border-radius: 4px;
}

.textarea-style {
  width: 260px;
  height: 154px;
  background: var(--clr-primary-light);
  border: 1px solid #212121;
  box-sizing: border-box;
  border-radius: 4px;
}

/*
===============
SMALL MOBILE
280PX 
===============
*/

/* Header, Logo, and Button */

.head {
  width: 100vw;
  height: 64px;
  top: 0;
  display: inline-flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  position: sticky;
  overflow: hidden;
  z-index: 10;
  background-color: var(--clr-primary-light);
  transition: top 0.3s ease;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.burger-icon {
  width: 2rem;
  background-color: transparent;
  border-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.fa-bars {
  font-size: 1.5rem;
}

.navlist {
  display: none;
  cursor: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary-light);
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.navlist-expanded {
  opacity: 1;
  z-index: 3;
  cursor: auto;
}

.navlist > a {
  padding-bottom: 1rem;
  opacity: 0;
  display: inline-block;
  position: relative;
  color: var(--clr-secondary-dark);
}

.navlist > a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 20%;
  left: 0;
  background-color: var(--clr-secondary-dark);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navlist > a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  cursor: pointer;
}

.navlist-expanded > a {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.navlist-expanded > a:nth-child(1) {
  transition-delay: 300ms;
}

.navlist-expanded > a:nth-child(2) {
  transition-delay: 400ms;
}

.navlist-expanded > a:nth-child(3) {
  transition-delay: 500ms;
}

/* Hero Section */

.hero {
  width: 100vw;
  height: 90vh;
  background: var(--clr-primary);
  display: flex;
  justify-items: center;
  position: relative;
  overflow: hidden;
}

.hero-message {
  text-align: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 0;
  margin: 0rem;
}

.hero-message > button {
  position: relative;
  top: 16px;
}

.hero-img {
  width: 100%;
  height: 50%;
  margin: 0;
  position: absolute;
  object-fit: cover;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

/* Work Section */

.works {
  width: 100%;
  /* height: 150vh; */
  background-color: var(--clr-secondary);
  display: flex;
  flex-direction: column;
  position: relative;
}

.work-message {
  text-align: center;
  /*align-items: center;*/
  /* position: absolute; */
  color: rgba(255, 255, 255, 1);
  /* top: 2.5rem;
  left: 0; */
  margin-top: 4rem;
}

.work-message > h3 {
  line-height: 3.5rem;
  margin-bottom: 0.5rem;
}

.work-message > h6 {
  padding: 0 1rem 0 1rem;
}

.portfolio-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  z-index: 2;
  overflow: hidden;
  margin: 1rem 1rem 4rem 1rem;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 2rem;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 150px;
  border-radius: 0px;
  transition: all 500ms;
  overflow: hidden;
  background-color: var(--clr-primary-dark);
  background-position: center;
  background-repeat: no-repeat;
}

.card-overlay {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  color: var(--clr-primary);
}

/* Contact Section */

.contact {
  width: 100%;
  background-color: var(--clr-primary);
  display: flex;
  flex-direction: column;
  position: relative;
}

.contact-message {
  text-align: center;
  /*align-items: center;*/
  /* position: absolute; */
  color: var(--clr-secondary-dark);
  /* top: 2.5rem;
  left: 0; */
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.contact-message > h3 {
  line-height: 3.5rem;
  padding: 1rem 1rem 0.5rem 1rem;
}

.contact-message > h6 {
  padding: 0 1rem 0 1rem;
}

.form {
  display: block;
  margin: 1rem auto;
}

.terms-checkbox {
  text-align: center;
  justify-content: center;
  margin: 1rem;
}

.form > .btn-default {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */
.footer-one {
  width: 100%;
  background-color: var(--clr-secondary);
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-evenly;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 1);
  margin: 0.5rem;
}

.footer-left > a {
  color: var(--clr-primary);
  padding: 0.25rem;
  transition: all 0.1s ease-in;
}

.footer-left > a:hover {
  color: var(--clr-primary-dark);
}

.footer-right > a {
  color: var(--clr-primary);
  padding: 0 0 0.25rem 0;
  transition: all 0.1s ease-in;
}

.footer-right > a:hover {
  color: var(--clr-primary-dark);
}

.footer-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 1);
  margin: 0.5rem;
}

.footer-bottom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

/* .footer-bottom {
  display: flex;
  justify-content: space-around;
  width: inherit;
  overflow-x: hidden;
  height: 24px;
  text-align: center;
  margin: 0.5rem;
} */

/* Privacy Policy */

.privacy-policy {
  margin: 1rem 1rem;
  z-index: 2;
}

.privacy-policy > ul {
  list-style: square;
  list-style-type: disc;
}

/*
===============
MOBILE
h 300PX 
===============
*/

@media only screen and (max-height: 550px) {
  .hero-img {
    display: none;
  }
}

/*
===============
MOBILE
w 360PX
h 640PX 
===============
*/

/*
===============
MOBILE
w 375PX
h 667PX 
===============
*/

/*
===============
MOBILE
w 360PX
h 720PX 
===============
*/

/*
===============
IPHONE X MOBILE
w 375PX
h 812PX 
===============
*/

@media only screen and (min-width: 375px) {
  /* Hero Section */

  .hero-img {
    width: 100%;
    height: 65%;
    margin: 0;
    position: absolute;
    object-fit: cover;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .card {
    height: 200px;
  }
}

/*
===============
PIXEL 2 MOBILE
w 411PX
h 731PX 
===============
*/

/*
===============
HALF SCREEN TABLET
w 411PX
h 441PX 
===============
*/

@media only screen and (min-width: 411px) /* and (min-height: 411px) */ {
  .hero-img {
    width: 50%;
    height: 55%;
    left: 25%;
    margin: 0;
    position: absolute;
    object-fit: cover;
  }
}

/*
===============
VERTICAL TABLET
w 768PX
h 1024PX 
===============
*/

@media only screen and (min-width: 375px) and (min-height: 1024px) {
  /* Header, Logo, and Button */

  .head {
    padding: 2rem 2rem;
  }

  .navlist {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* Hero Section */
  .hero {
    width: 100vw;
    height: 512px;
    background: var(--clr-primary);
    position: relative;
  }

  .hero-message {
    width: 50%;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 5%;
    right: 0;
    bottom: 0;
    margin: 0rem;
  }

  .hero-img {
    width: 120%;
    height: 120%;
    margin: 0;
    position: absolute;
    object-fit: cover;
    left: 300px;
    bottom: 0;
  }

  /* Work Section */

  .portfolio-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 4rem;
  }

  /* Footer */
  .footer-one {
    padding: 1rem 4rem;
  }
}

/*
===============
TABLET
w 768PX
===============
*/

@media only screen and (min-width: 768px) {
  /* Header, Logo, and Button */

  .head {
    padding: 2rem 2rem;
  }

  .navlist {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* Hero Section */
  .hero {
    width: 100vw;
    height: 512px;
    background: var(--clr-primary);
    position: relative;
  }

  .hero-message {
    width: 50%;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 5%;
    right: 0;
    bottom: 0;
    margin: 0rem;
  }

  .hero-img {
    width: 120%;
    height: 120%;
    margin: 0;
    position: absolute;
    object-fit: cover;
    left: 300px;
    bottom: 0;
  }

  /* Work Section */

  .portfolio-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 4rem;
  }

  /* Footer */
  .footer-one {
    padding: 1rem 4rem;
  }
}

/*
===============
TABLET
w 768PX
===============
*/

@media only screen and (min-width: 768px) {
  /* Header, Logo, and Button */

  .head {
    padding: 2rem 2rem;
  }

  .navlist {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* Hero Section */
  .hero {
    width: 100vw;
    height: 512px;
    background: var(--clr-primary);
    position: relative;
  }

  .hero-message {
    width: 50%;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 5%;
    right: 0;
    bottom: 0;
    margin: 0rem;
  }

  .hero-img {
    width: 120%;
    height: 120%;
    margin: 0;
    position: absolute;
    object-fit: cover;
    left: 300px;
    bottom: 0;
  }

  /* Work Section */

  .portfolio-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 4rem;
  }

  /* Footer */
  .footer-one {
    padding: 1rem 4rem;
  }
}

/*
===============
LAPTOP SCREEN
w 1000PX
===============
*/

@media only screen and (min-width: 1000px) {
  /* Header, Logo, and Button */

  /* Hero Section */

  .hero-img {
    left: 450px;
  }

  /* Work Section */

  /* Footer */
}

/*
===============
LAPTOP SCREEN
w 1280PX
===============
*/

@media only screen and (min-width: 1000px) {
  /* Header, Logo, and Button */

  /* Hero Section */

  .hero-img {
    left: 450px;
    object-fit: scale-down;
  }

  /* Work Section */

  .portfolio-grid {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin: 4rem;
  }

  .card {
    height: 250px;
  }

  /* Footer */
}

/*
===============
LAPTOP SCREEN
w 1430PX
===============
*/

@media only screen and (min-width: 1000px) {
  /* Header, Logo, and Button */

  /* Hero Section */

  .hero-message {
    padding: 0 6rem 6rem 6rem;
  }

  /* Work Section */

  .portfolio-grid {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin: 4rem;
  }

  .card {
    height: 250px;
  }

  /* Footer */
}
